# Custom
private/
local/
scripts/private_*
scripts/local_*

# Excluded generated content
docs/*.html
docs/*.json
docs/*.css
docs/*.js
dist/*.shift
dist/*.csv
dist/*.tsv
dist/*.json
go_runtime/unit_tests/tests_json/

# Random outputs
*.txt